body{
    margin: 0px;
}
#header {
  
    background-color: #757ECF;
    font-family:'Economica', sans-serif;
    font-size: 25px;
    margin-top: -35px;   
    text-align: center;
    
}

#headerIcon {
    height: 60px;
    width: 140px;
    margin-top: -20px;
}

#mainPageText{
    font-family:'Economica', sans-serif;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 30px;
}

#inputBox{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 30px;
    width: 200px;
    height: 250px;
    position: relative;
    left: 550px;
    top: 20px;
}

#validarTC {
    position: relative;
    top: 6%;
    font-family:monospace;
}

#validarTC:hover {
    background-color: rgb(106, 209, 106);
    stroke: black;
}

#copyBttn {
    width: 100px;
    height: 35px;
    border-radius: 5%;
    position: absolute;
    left: 65%;
    top: 73%;
    background-color: black;
    color: rgb(255, 255, 255);
}
    
#footer {
    background-color: #757ECF;
    font-family:'Economica', sans-serif;
    font-size: 20px;
    text-align: center;   
    margin-top: 76px;
    padding: 5px;

}
   
#hiddenInput {
    opacity: 0%;
    height: 1px;
    width: 1px;
    position: absolute;
}
    
